@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Jost:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #EFF2F1;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #EFF2F1;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 0;  
    /* left: 60px !important; */
    top: 100px !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: auto;
    right: var(--swiper-navigation-sides-offset, 10px);
    top: 100px !important;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: '' !important ;
  background-image: url(/right.svg);
  height: 50px;
  width:  50px;
  background-repeat: no-repeat;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: '' !important;
  background-image: url(/left.svg);
  height: 50px;
  width:  50px;
  background-repeat: no-repeat;
}